<main class="w-screen h-screen flex flex-col justify-center items-center">
  <form *ngIf="form" class="w-80 flex flex-col" [formGroup]="form">
    <input class="p-4 m-5 shadow-md" type="text" formControlName="name" />
    <div
      class="error"
      *ngIf="form.controls.name.invalid && form.controls.name.touched"
    >
      {{ form.controls.name.errors | json }}
    </div>
    <input class="p-4 m-5 shadow-sm" type="text" formControlName="username" />
    <div
      class="error"
      *ngIf="form.controls.username.invalid && form.controls.username.touched"
    >
      {{ form.controls.username.errors | json }}
    </div>
    <input class="p-4 m-5 shadow-sm" type="number" formControlName="age" />
    <div
      class="error"
      *ngIf="form.controls.age.invalid && form.controls.age.touched"
    >
      {{ form.controls.age.errors | json }}
    </div>
  </form>
  <div class="flex">
    <button
      class="bg-green-200 p-2 m-5 rounded-md min-w-[100px]"
      (click)="submitForm()"
    >
      Submit
    </button>
    <button
      class="bg-green-200 p-2 m-5 rounded-md min-w-[100px]"
      (click)="fetchForm()"
    >
      Get
    </button>
  </div>
</main>
