<main class="w-screen h-full flex flex-col justify-center items-center">
  <form *ngIf="form" class="w-full flex flex-col" [formGroup]="form">
    <div class="w-full flex flex-col">
      <section class="border border-solid border-slate-700 m-5">
        <h2>Genral info</h2>
        <div class="flex flex-row">
          <div class="p-4">
            <p>Name</p>
            <input
              class="p-4 my-5 shadow-md"
              type="text"
              formControlName="name"
            />
            <div
              class="error"
              *ngIf="form.controls.name.invalid && form.controls.name.touched"
            >
              {{ form.controls.name.errors | json }}
            </div>
          </div>
          <div class="p-4">
            <p>User name</p>
            <input
              class="p-4 my-5 shadow-sm"
              type="text"
              formControlName="username"
            />
            <div
              class="error"
              *ngIf="
                form.controls.username.invalid && form.controls.username.touched
              "
            >
              {{ form.controls.username.errors | json }}
            </div>
          </div>
          <div class="p-4">
            <p>Age</p>
            <input
              class="p-4 my-5 shadow-sm"
              type="number"
              formControlName="age"
            />
            <div
              class="error"
              *ngIf="form.controls.age.invalid && form.controls.age.touched"
            >
              {{ form.controls.age.errors | json }}
            </div>
          </div>
        </div>

        <section class="border border-solid border-slate-700 m-5">
          <h2>Accounts</h2>
          <div class="w-full flex flex-wrap" formArrayName="accounts">
            <div
              *ngFor="let item of form.controls.accounts?.controls"
              class="border border-solid border-slate-700 m-2"
            >
              <div [formGroup]="item">
                <input
                  class="p-4 m-5 shadow-sm"
                  type="text"
                  formControlName="name"
                />
                <div
                  class="error"
                  *ngIf="
                    item.controls.name.invalid && item.controls.name.touched
                  "
                >
                  {{ item.controls.name.errors | json }}
                </div>
                <input
                  class="p-4 m-5 shadow-sm"
                  type="text"
                  formControlName="iban"
                />
                <div
                  class="error"
                  *ngIf="
                    item.controls.iban.invalid && item.controls.iban.touched
                  "
                >
                  {{ item.controls.iban.errors | json }}
                </div>
              </div>

              <section class="border border-solid border-slate-700 m-2">
                <h2>Bank Info</h2>
                <div
                  class="w-full flex flex-wrap"
                  [formGroup]="item.controls.bankInfo"
                >
                  <div class="p-4">
                    <p>Bank name</p>
                    <input
                      class="p-4 my-5 shadow-md"
                      type="text"
                      formControlName="name"
                    />
                    <div
                      class="error"
                      *ngIf="
                        form.controls.name.invalid && form.controls.name.touched
                      "
                    >
                      {{ form.controls.name.errors | json }}
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </section>
    </div>
  </form>
  <div class="flex">
    <button
      class="bg-green-200 p-2 m-5 rounded-md min-w-[100px]"
      (click)="submitForm()"
    >
      Submit
    </button>
    <button
      class="bg-green-200 p-2 m-5 rounded-md min-w-[100px]"
      (click)="fetchForm()"
    >
      Get
    </button>
  </div>
</main>
